<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html class="cui" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../assets/css/cui-standard.min.css">
    </head>
    <body>
        <header class="header">
            <div class="header-bar container">
                <div class="header-bar__main">
                    <div class="header-heading">
                        <h1 class="page-title">App</h1>
                    </div>
                </div>
                <div>
                    <a [routerLink]="['dashboard']">Dashboard</a>
                    <a [routerLink]="['summaryreport']">Summary Report</a>  
                    <a [routerLink]="['detailedreport']">Detailed Report</a>  
                    <a [routerLink]="['logout']">Logout</a>  
                  </div>
            </div>
        </header>
    </body>
</html>










<router-outlet></router-outlet>

